body {
  background: linear-gradient(
    90deg,
    rgba(170, 166, 166, 0.363),
    rgba(210, 104, 104, 0.332)
  );
}

.container {
  padding: 13px;
  border-radius: 25px;
}

.navbar-expand-lg .navbar-collapse {
  justify-content: space-around;
}

header {
  position: relative;
  top: 28px;
}
nav {
  background: rgba(255, 255, 255, 0.508);
  backdrop-filter: blur(10px);
}

.navbar-nav .nav-link {
  padding: 2px;
}

.button-0 {
  display: none;
}

header {
  position: sticky;
  /* top: 0; */
  /* background-color: #fff; */
  z-index: 1;
}

@media screen and (max-width: 548px) {
  .login li {
    display: none;
  }

  .button-1 {
    /* display: flex; */
    color: aliceblue;
  }

  .button-0 {
    display: flex;
  }
}

@media screen and (max-width: 550px) {
  .navbar-toggler {
    display: flex;
  }
}

/* BANNER TAMANHO */
.carousel-inner img {
  width: 100%;
  height: 300px;
}

/* carousel banner */
.carousel {
  margin-top: 50px;
}

.carousel-item img {
  border-radius: 30px;
}

.carousel-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background: linear-gradient(
    to bottom,
    rgba(196, 114, 114, 0),
    rgba(0, 0, 0, 0.578)
  );
}

.carousel-caption p {
  margin-top: 10px;
}

.carousel-control-next-icon::after {
  content: "";
}

.carousel-control-prev-icon::after {
  content: "";
}
